footer{
    width: 100vw;
    background-color: #027396;
    padding: 10px;
    display: flex;
    align-items:center;
    justify-content: center;
    position: fixed;
    bottom: 0;
}
h4{
    font-family: 'Rubik', sans-serif;
}